/* type selectors */
/* Id selectors */
/* class selectors */

/* css rules */
/* selectors */
/* declaration blocks */
/* declaration */
/* property */
/* value */

/* Inheritance */

/* color properties */
/* calc,vh,vw,rem,em */
/* typography */
/* google fonts */
h1 {
  background: red;
  padding-top: 30px;
  padding-bottom: 60px;
}
p {
  background: blue;
}
