/* type selectors */
/* Id selectors */
/* class selectors */

/* css rules */
/* selectors */
/* declaration blocks */
/* declaration */
/* property */
/* value */
.green {
  color: green;
}
.red {
  color: red;
}
#title {
  font-size: 40px;
}
.lowercase {
  text-transform: lowercase;
}
